
@keyframes spin {
  0% {background-position: 0 0;}
  100% {background-position: 630px 0;}
 }

 .spin {
  transition: transform 200ms linear;
  animation: spin 4s linear infinite; /* This is going to be defined in the next step */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-out-blurred-right {
  0% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) scaleX(2) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }
}

.slide-out-blurred-right {
  animation: slide-out-blurred-right 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.slide-in-blurred-left {
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-left {
  0% {
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}


.has-fade {
  visibility: hidden;
}

.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

.background-fade {
  transition: background-color 250ms ease-in-out;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.obj {
  // offset-path: path('M.4 84.1s127.4 188 267.7 0 247.3 0 247.3 0');
  offset-path: path('M0.5,53.06c0.78,13.28,5.77,39.94,37,67.59c11.58,10.25,45.99,40.71,103,51.09,c93.64,17.05,197.3-29.34,278-65.46c45.79-20.49,110.79-54.34,170-105.9');

  animation: move 2000ms linear forwards;
}

@keyframes move {
30% {
  // offset-distance: 0%;

}
  100% {
    offset-distance: 100%;
    // transform: scale(0); 
  }
}