// 640px, 1024, 1400px
$breakpoints-up: ("small": "39.9375em", "medium": "40em", "large": "64em", "xlarge": "87.5em");

// 639px, 1023px, 1399px
$breakpoints-down: ("small": "39.9375em", "medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size) {
  @media (min-width: map-get($map: $breakpoints-up, $key: $size)) {
    @content;
  }  
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($map: $breakpoints-down, $key: $size)) {
    @content;
  }  
}

@mixin tablet-only() {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

$planet-colors: $mercury, $venus, $earth, $mars, $jupiter, $saturn, $uranus, $neptune;


@mixin mobile-nav($backgroundColor) {
  &::after {
    @content;
    position: absolute;
    width: 100%;
    bottom: -1.2125rem;
    left: 0;
    height:0.25rem;
    background-color: $backgroundColor;
  }
}
