.side-drawer {
  background: $primary-bg;
  color: #fff;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 140ms ease-in-out;
  padding: 44px 24px;
  
  &__is-opened {
     transform: translateX(0);
  }

  $planetColorsLength: length($planet-colors);
  & > a {
    display: block;
    position: relative;
    padding: 20px 0px;
    &:first-child {
      padding-top: 0;
    }
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    span {
      padding-left: 45px;
      position: relative;
      display: block;
      font-size: 15px;
      color: $white;
      &::after {
        content: url('../../assets/arrow-right.svg');
        position: absolute;
        right: 0px;
      }
    }
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      opacity: 0.2;
      background-color: $font-primary;
    }
  }

  @for $i from 1 through length($planet-colors) {
      & > a:nth-child(#{$i})::before {
      // background-color: map-get($map: $planet-colors, $key: $i);
      background-color: nth($planet-colors, $i);
    }
  }
}
