$white: #FFFFFF;
$primary-bg: #070724;
$font-primary: $white;

$darkGray: #38384F;
$lightGray: #838391;
$steelBlue: #419EBB;
$lightOrange: #EDA249;
$darkOrange: #CD5120;
$purple: #6F2ED6;
$darkPurple: #6D2ED5;
$lightRedOrange: #D14C32;
$darkRedOrange: #D83A34;
$cyan: #1EC2A4;
$oceanBlue: #2D68F0;

$mercury:  #DEF4FC;
$venus:  #F7CC7F;
$earth:  #545BFE;
$mars:  #FF6A45;
$jupiter:  #ECAD7A;
$saturn:  #FCCB6B;
$uranus:  #65F0D5;
$neptune:  #497EFA;